.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white !important;
}

#mklogo {
  height: 100px;
  margin: 15px;
}

header {
  font-size: 2rem;
}

.navbar {
  padding: 0px;
}

.navbar-nav a {
  font-weight: 500;
}

nav li a {
  text-transform: uppercase;
}

.navlogin {
  right: 0;
  position: absolute;
  margin-right: 25px;
}

.main {
  margin: 0px 10%;
}

h1 {
  font-weight: 700;
}

.jumbotron {
  padding: 4.1rem;
}

#backbutton {
  margin-left: 2%;
}

.headerMargin {
  margin-top: 250px;
}

.btn {
  border-radius: 1rem;
}

.form-control:focus {
  color: white;
}

.table-dark {
  background-color: #2e3951;
}

footer p {
  margin-bottom: 2px;
}

#footerpadding {
  padding: 0px 100px;
}

@media (max-width: 768px) {
  .jumbotron {
    padding: 2rem;
  }
  #footerpadding {
    padding: 0px 20px;
  }
}

@media (max-width: 576px) {
  #backbutton {
    margin-left: 5%;
  }
}
