::placeholder {
	color: white !important;
}

option {
	color: white;
}

option:disabled {
	color: white !important;
}

.form-control {
	color: white;
}

#portaldiv {
	justify-content: center;
	margin: 0% 5% 5% 5%;
}

@media (max-width: 576px){
	#defaultRegisterFormFirstName{
		margin-bottom: 24px;
	}
}
